<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
    <!-- 로그 출력 경로 -->
    <property name="LOGS_ABSOLUTE_PATH" value="./logs" />

    <!-- 콘솔에 출력되는 로그 패턴 설정 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <!-- 로그 파일 설정 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_ABSOLUTE_PATH}/logback.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 매일 새로운 로그 파일을 생성 -->
            <fileNamePattern>${LOGS_ABSOLUTE_PATH}/logback.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- 로그 보관 기간 설정 (30일) -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- 로깅 레벨 설정 -->
	<root level="INFO">
    	<appender-ref ref="STDOUT" />
    </root>
    
    <!-- com.kbs.blog.handler 에서 경고에러가 발생시 파일출력 -->
    <logger name="com.kbs.blog.handler" level="WARN">
        <appender-ref ref="FILE" />
    </logger>

</configuration>
